.navbar-expand-lg .navbar-nav .nav-link{
  padding-right: 1rem;
}
.navbar-dark .navbar-toggler-icon{
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%285,0,0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-toggler{
  border: 0!important;
  color: transparent!important;
}

.navbar-expand-lg{
  background-color: white!important;
}
.navbar-collapse{
  justify-content: end!important;
}
.navbar-brand{
  color: black!important;
  font-size: 26px;
  margin-left: 10px;
  letter-spacing: 1.5px;
}
.nav-link{
  color: black!important;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-left: 15px;
  text-align: center;
  margin-top: 10px;
}

.navcon{
  margin-top: 15px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px){
  .nav-link{
    font-size: 14px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 768px){
  .navbar-brand{
    margin-left: 35px;
  }
}

@media screen and (min-width: 1024px){
  .navbar-brand{
    margin:  0 0 0 60px;
    font-size: 30px;
  }
  .nav-link{
    font-size: 15px;
    margin-top: 0;
  }
  .navul{
    margin-right: 50px;
  }

}